{% extends "layout.html" %}

{% block title %}Log In{% endblock %}

{% block main %}
<div class="auth-wrapper">
    <div class="auth-form">
        <div class="auth-form-icon">
            <i class="fa-solid fa-leaf"></i>
        </div>
        <h2>Welcome Back</h2>
        <form method="post">
            <div class="mb-3">
                <input class="form-control" type="text" autocomplete="off" autofocus name="username"
                    placeholder="Username">
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary w-100">Log In</button>
        </form>
        <div class="auth-link">
            Don't have an account? <a href="/register">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}